{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
    <!-- Newsletter Subscription Page -->
    <div class="overlay"></div>
    <div class="default-page-container container py-5"> 
        <div class="content-section custom-form-outer-container text-center mx-auto p-4 w-50">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group custom-form-inner-container">
                    <h1 class="logo-font display-4 heading">Subscribe</h1>
                    <hr class="w-75 horizontal-rule">
    
                    <!-- Render the form fields with crispy-forms for Bootstrap styling -->
                    {{ form|crispy }}
    
                </fieldset>
    
                <div class="form-group my-4 custom-form-button-container">
                    <!-- Enhanced Submit Button with Bootstrap styles -->
                    <button class="btn btn-black" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}