{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
    <!-- Unsubscribe Page -->
    <div class="overlay"></div>
    <div class="default-page-container container py-5"> 
        <div class="text-center">
            <!-- Page Header -->
            <h1 class="display-4 mb-4">Unsubscribe</h1>
    
            <!-- Information about unsubscribing -->
            <p class="lead mb-4">Are you sure you want to unsubscribe from our mailing list? You can always resubscribe later.</p>
    
            <!-- Unsubscribe Button -->
            <div id="unsubscribe-button-container">
                <a class="btn btn-danger btn-lg" href="{% url 'mailing-list-unsubscribe' user.email %}" role="button">
                    Unsubscribe
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}