{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="row text-center text-white">
        <div class="col-12">
            <div class="px-1 py-1 m-3" id="index-container">
                <!-- Heading Text for Larger Screens -->
                <h1 class="display-4 logo-font mb-3">Bring the Masters Into Your Home</h1>
                <h3 class="h4 mb-4">Authentic Fine Art Prints of the World's Most Iconic Artists</h3>
            </div>
            
            <!-- Button for Shop Now -->
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 shadow-lg transition-all">
                Shop Our Collection
            </a>
        </div>
    </div>
</div>

{% endblock %}