html {
    height: 100%;
}

body {
    background: url("/media/homepage_background_cropped.webp") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Playfair Display", serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Hover effect for main navbar links */
.arthub:hover,
#prints-link:hover,
#about-link:hover,
.nav-item .nav-link:hover,
.list-inline-item .nav-link:hover {
    color: gold !important;
    transition: color 0.3s ease-in-out;
}

/* Hover effect for dropdown items */
.navbar-nav .dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:hover {
    text-decoration: underline;
}

#hamburger {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: white;
}

.dropdown-item {
    color: #000000;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

#topnav {
    background-color: rgba(0, 0, 0, 0.6);
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border: 2px solid #d4af37;
}

.subscribe-button {
    border: 2px solid #d4af37;
}

.btn-shop {
    background-color: #fff;
    border: 2px solid #d4af37;
}

.btn-shop:hover,
.btn-shop:active,
.btn-shop:focus {
    background: black;
    color: gold !important;
}

.btn-black {
    background: black;
    color: white;
    border: 2px solid #d4af37;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.subscribe-button:hover,
.subscribe-button:active,
.subscribe-button:focus {
    background: gold;
    color: #000000;
    transition: color 0.3s ease-in-out;
}

#footer-container,
.footer-credit {
    border-top: 1px solid gold;
}

.footer-credit-icon {
    color: #fff;
}

.footer-credit-icon:hover,
.footer-credit-icon:active,
.footer-credit-icon:focus {
    background: #fff;
    color: #000000;
    transition: color 0.3s ease-in-out;
    border-radius: 50%;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #f9f9f9;
    z-index: -1;
}

/* a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
} */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name="q"]::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 99999999999;
}

/* Modern toast design */
.custom-toast {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    /* Semi-transparent black background */
    backdrop-filter: blur(30px);
    /* Blur background */
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
}

.toast-capper {
    height: 2px;
}

/* Arrow design */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(40, 167, 69, 0.8);
    /* Transparent green */
    position: absolute;
    top: -10px;
    right: 106px;
}

/* Header Styling */
.custom-toast-header {
    background: rgba(0, 0, 0, 0.1);
    /* Semi-transparent black background */
    font-weight: bold;
}

/* Body Styling */
.custom-toast-body {
    background: rgba(0, 0, 0, 0.1);
    /* Light translucent background */
    padding: 15px;
    font-size: 0.95rem;
}

/* Bag items wrapper */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Button Styling */
.btn-dark {
    background-color: #333;
    /* Dark button */
    border-color: #333;
}

/* Close button */
.close {
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.close:hover {
    opacity: 1;
}

/* Responsive tweaks */
@media (max-width: 576px) {
    .custom-toast-body {
        font-size: 0.85rem;
    }
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.text-success {
    color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #000000;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 2px solid #d4af37;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #000;
    background-color: gold;
}

.allauth-form-inner-content a {
    color: #000;
    /* text-info */
}

#index-container {
    color: #f1e8d6;
}

.login,
.password_reset,
.signup,
.password_change,
.password_set {
    max-width: 500px;
    /* Limit the form width on larger screens */
    margin: 0 auto;
    /* Center the form horizontally */
    padding: 20px;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {

    .login,
    .password_reset,
    .signup,
    .password_change,
    .password_set {
        width: 90%;
        /* Reduce form width on smaller screens */
        padding: 15px;
    }

    .dropdown-menu {
        left: -150px;
    }
    
}

/* -------- PRODUCTS PAGE -------- */

.heading,
.paragraph {
    color: #000000;
}

.horizontal-rule {
    border: 1px solid #000000;
}

.product-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 3px solid gold;
}

.sort-select-wrapper select {
    background-color: #f0f0f0;
    border-radius: 0.25rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.back-to-top {
    position: fixed;
    right: 50px;
    bottom: 100px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid gold;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.back-to-top:hover {
    background-color: #f4c542;
}

#scroll-link {
    display: none;
    /* Initially hide the button */
}

.card-body p,
.card-footer,
.card-footer p,
.card-footer a,
.card-footer i,
.card-footer text {
    color: #000000;
}

.btn-edit,
.btn-delete {
    border-color: #d4af37;
    color: #000;
}

.btn-edit:hover,
.btn-edit:active,
.btn-edit:focus,
.btn-delete:hover,
.btn-delete:active,
.btn-delete:focus {
    color: white !important;
}

.category-text:hover {
    text-decoration: underline;
    color: #f4c542;
}

/* -------- ABOUT PAGE -------- */

#about-header {
    margin-top: 0;
}

.about-text {
    max-width: 500px;
}

.about-text-container-left {
    display: flex;
    justify-content: flex-start;
}

.about-text-container-right {
    display: flex;
    justify-content: flex-end;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img {
    margin-top: 53px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #00000099;
}

#about-last-img {
    object-fit: cover;
    margin-bottom: 25px;
}

#about-button-container {
    display: flex;
    justify-content: center;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------- PRODUCT DETAILS PAGE -------- */

.product-details-container a {
    color: #000000;
}

/* Control the image container size */
.image-container {
    max-width: 100%;
    padding: 0 15px;
}

/* Control the size of the image inside the container */
.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Adjust image size on smaller screens */
@media (max-width: 768px) {
    .image-container {
        max-width: 90%;
        /* Reduce the width for smaller screens */
    }
}

/* Adjust image size on larger screens */
@media (min-width: 1200px) {
    .image-container {
        max-width: 70%;
        /* Resize the container on larger screens */
    }
}

/* -------- FAQ PAGE -------- */

#faq-accordion-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.transition,
.faq-ul li i:before,
.faq-ul li i:after,
.faq-text {
    transition: all 0.25s ease-in-out;
}

.flipIn,
.faq-ul li,
#faq-heading {
    animation: flipdown 0.5s ease both;
}

.no-select,
.faq-h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#faq-accordion {
    min-height: 0;
    display: inline-block;
    position: relative;
    margin: 80px 90px 205px 90px;
    border: 2px solid #000000;
    background-color: #fff;
    color: #000;
    max-width: 900px;
    min-width: 320px;
    padding: 30px;
    border-radius: 20px;
}

#faq-heading {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
}

.faq-h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
}

.faq-text {
    color: #000000;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.faq-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-ul,
.faq-li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    padding-right: 20px;
}

.faq-ul li:nth-of-type(1) {
    animation-delay: 0.2s;
}

.faq-ul li:nth-of-type(2) {
    animation-delay: 0.3s;
}

.faq-ul li:nth-of-type(3) {
    animation-delay: 0.4s;
}

.faq-ul li:nth-of-type(4) {
    animation-delay: 0.5s;
}

.faq-ul li:nth-of-type(5) {
    animation-delay: 0.6s;
}

.faq-ul li:nth-of-type(6) {
    animation-delay: 0.7s;
}

.faq-ul li:nth-of-type(7) {
    animation-delay: 0.8s;
}

.faq-ul li:nth-of-type(8) {
    animation-delay: 0.9s;
}

.faq-ul li:nth-of-type(9) {
    animation-delay: 1s;
}

.faq-ul li:last-of-type {
    padding-bottom: 0;
}

.faq-ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.faq-ul li i:before,
.faq-ul li i:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 3px;
    height: 9px;
}

.faq-ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.faq-ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.faq-ul li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.faq-ul li input[type="checkbox"]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.faq-ul li input[type="checkbox"]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.faq-ul li input[type="checkbox"]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

/* -------- Contacts Page -------- */

.detail-table-header {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

/* -------- Footer -------- */

#footer-container {
    background-color: rgba(0, 0, 0, 0.7);
    /* 50% opacity black background */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    body {
        background: url("/media/homepage_background_cropped.webp") no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 164px);
        color: #555;
        font-family: "Roboto", sans-serif;
    }

    .container {
        max-width: 80%;
    }

    .footer-credit-icon {
        font-size: 1.5rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    body {
        background: url("/media/homepage_background_cropped.webp") no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 164px);
        color: #000;
        font-family: "Playfair Display", serif;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* icons hidden only on medium and small */
@media (max-width: 991px) {
    .hide-on-mobile {
        display: none !important;
    }

    /* pad the top a bit when navbar is collapsed on mobile */
    .header-container {
        padding-top: 200px;
    }

    body {
        height: calc(100vh - 200px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0.6rem 0.6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 0.9rem;
    }

    .btn.btn-shop.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: 0.375rem 0.375rem;
    }

    .btn.btn-shop.rounded-0,
    .btn.btn-black.rounded-0,
    .allauth-form-inner-content button {
        padding: 0.375rem 0.375rem;
        font-size: 0.75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: 0.25rem 0.5rem !important;
    }

    .toast {
        position: relative;
        top: auto;
        right: 10px;

        width: 300px;
        height: auto;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 425px) {
    .header-container {
        padding-top: 230px;
    }

    body {
        height: calc(100vh - 230px);
    }

    #index-container h1 {
        font-size: 2rem;
    }

    #index-container h3 {
        font-size: 1.5rem;
    }

    #error-container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    .keep-shopping-bag {
        margin-bottom: 10px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 375px) {
    .header-container {
        padding-top: 300px;
    }

    body {
        height: calc(100vh - 300px);
    }

    #index-container h1 {
        font-size: 1.6rem;
        margin: 20px 0px;
    }

    #index-container h3 {
        font-size: 1.2rem;
    }

    #error-container h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 320px) {
    .header-container {
        padding-top: 200px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .product-name {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    #index-container h1 {
        font-size: 1.5rem;
        margin: 40px 0px;
    }

    #index-container h3 {
        font-size: 0.9rem;
    }

    #error-container h1 {
        font-size: 1.5rem;
        margin: 40px 0px;
    }

    .keep-shopping-bag {
        margin-bottom: 10px;
    }
}

@media (min-width: 2560px) {

    body {
        font-size: 2rem;
    }

    .hero-container {
        padding-top: 300px;
    }

    #footer-container {
        margin-top: 470px !important; 
    }
}

@media (min-width: 1440px) {
    .scroll-to-top {
        height: 100px;
    }

    .container-fliuid {
        padding-top: 370px;
    }

    .product-name {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .newsletter {
        padding-left: 0;
    }

    #index-container h1 {
        font-size: 2.5rem;
    }

    .product-name {
        font-size: 2rem;
    }

    #error-container h1 {
        font-size: 2.5rem;
    }
}